@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('../css/eurostile.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
    font-family: 'Bai Jamjuree', sans-serif;
    /* font-family: 'Eurostile Extended'; */
    font-weight: 500;
    background-color: #353535;
    background-image: url(../img/bg-lines.png);
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(56, 56, 56);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 36, 36);
}

.custom-fluid-container {
    width: calc(100% - 300px);
    z-index: 10;
}

.eurostile-font {
    font-family: 'Eurostile Extended' !important;
}

.baijamjuree-font {
    font-family: 'Bai Jamjuree', sans-serif !important;
}

.text-red {
    color: #ee1017 !important;
}

.text-light-gray {
    color: #929292 !important;
}

.bg-color-dark {
    background-color: #353535 !important;
}

.navbar-position {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.main-navbar {
    z-index: 10;
}

.main-slider {
    height: 981px;
}

.danti {
    height: 110px;
    width: 1px;
    background-color: #fff;
    z-index: 1;
    opacity: .6;
}

.bilbil {
    background-image: url(../img/bilbil.svg);
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    top: 105px;
}

.slider-title-area {
    top: 220px;
    position: relative;
}

.main-slider .cyber-title {
    position: relative;
    z-index: 10;
    text-align: center;
    color: #acacac;
    text-transform: uppercase;
    font-size: 55px;
    font-family: 'Eurostile Extended';
}

.main-slider .cyber-title-2 {
    position: relative;
    z-index: 10;
    text-align: center;
    color: #ee1017;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 55px;
    font-family: 'Eurostile Extended';
}

.main-slider p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    z-index: 10;
    color: #acacac;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

.main-navbar .navbar-active {
    background-image: url(../img/active_bar.png);
    height: 7px;
    background-repeat: repeat-x;
    width: 89%;
    margin: auto;
}

.main-navbar img {
    max-width: 300px;
}

.main-navbar .nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: #fff;
    font-size: 15px;
}

.main-navbar .nav-link:hover {
    color: #ee1017;
}

.main-navbar .navbar-text {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: auto;
}

.main-navbar .nav-item {
    margin-left: 3.3rem;
}

.contact-button-nav .btn-primary {
    border: 2px solid #ee1017;
    background: #353535;
    padding: 9px 40px;
    box-shadow: -1px 1px 35px 0px rgb(234 12 17 / 37%);
    -webkit-box-shadow: -1px 1px 35px 0px rgb(234 12 17 / 37%);
    -moz-box-shadow: -1px 1px 35px 0px rgba(234, 12, 17, 0.68);
}

.contact-button-nav .btn-primary:hover {
    border: 2px solid #ee1017;
    background: #ee1017;
    padding: 9px 40px;
    color: #fff;
}

.shadowboard,
.clipboard {
    background-image: url(../img/bg-1.jpg);
}

.shadowboard {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.375s;
    transition: opacity 0.375s;
}

.shadowboard,
.clipboard {
    background-image: url(../img/bg-1.jpg);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d0c9;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.shadowboard,
.clipboard2 {
    background-image: url(../img/red-bg.png);
}

.shadowboard,
.clipboard2 {
    background-image: url(../img/red-bg.png);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d0c9;
    background-size: cover;
    background-position: center center;
}

.mt-custom {
    margin-top: 10rem;
}

.top-slider {
    height: 950px;
    position: relative;
    width: 100%;
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    background-position: center;
}

.after-slider {
    background-color: #353535;
    height: 400px;
    position: relative;
    width: 100%;
    padding-top: 150px;
}

.top-slider img {
    width: 100%;
}

.after-slider:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 200px;
    top: -70px;
    left: 0;
    background-color: #353535;
    transform: skewY(10deg);
}

.after-slider:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 200px;
    top: -70px;
    right: 0;
    background-color: #353535;
    transform: skewY(-10deg);
}

.body-area-start .title-area {
    margin-top: 90px;
}

.body-area-start .title-area h6 {
    font-family: 'Eurostile Extended';
    color: #ee1017;
    text-transform: uppercase;
    font-size: 22px;
}

.body-area-start .title-area h1 {
    font-family: 'Eurostile Extended';
    font-size: 55px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.ionc-class {
    height: 171px;
}

.section-body-area h6 {
    color: #d9d9d9;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Bai Jamjuree', sans-serif;
}

.section-body-area a {
    color: #d9d9d9;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.verticle-po a,
.hori-po a {
    text-decoration: none;
}

.verticle-po a:hover,
.hori-po a:hover {
    color: #ee1017;
}

.section-body-area h1 {
    color: #d9d9d9;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Bai Jamjuree', sans-serif;
}

.section-body-area p {
    color: #a5a5a5;
    font-family: 'Bai Jamjuree', sans-serif;
}

.verticle-po {
    /* padding-top: 6rem !important; */
    padding-left: 8rem !important;
}

.hori-po {
    /* padding-top: 6rem !important; */
    padding-right: 8rem !important;
}

.hr {
    background: red;
    height: 2px;
    width: 170px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-us {
    background-image: url(../img/pattern_bg.jpg);
}

.industries-expert {
    background-image: url(../img/industries_expert.jpg);
    border-radius: 392px 0px 0px 392px
}

.all-padding-six {
    padding: 10rem !important;
}

.slide-handeler {
    height: 100%;
    background-color: transparent;
    border-color: red;
    border-radius: 392px 0px 0px 392px;
    margin-left: -50px;
    border-width: 0 0 0 2px;
    border-style: solid;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0px;
}

.dots {
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dots:hover {
    background: red;
}

.dot1 {
    right: -150px;
    top: 43px;
}

.dot2 {
    right: -13px;
    top: 183px;
}

.dot3 {
    right: 9px;
    top: 343px;
}

.dot4 {
    right: -88px;
    top: 513px;
}

.darwin {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.hide {
    display: none;
}

.footer .logo {
    width: 200px;
}

.footer p {
    margin-bottom: 0;
}

.social-icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    padding: 7px;
}

.social-icon:hover {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background: #ee1017;
}

.social-icon .fab {
    margin-left: 7px;
}

.copyright-text a {
    text-decoration: none;
}

.email-info a {
    text-decoration: none;
    color: #6c757d!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.email-info a:hover {
    color: #ee1017 !important
}